* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: darkblue;
    --second-color: #eee;
    --general-border: 1px solid rgb(0 0 0 / 0.2);
    /* 1️⃣ */
    --centering: center;
}

nav {
    background-color: var(--first-color);
    padding: 10px;
}

nav a {
    color: var(--second-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--first-color);
}

img {
    width: 150px;
    height: auto;
    border: var(--general-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main img {
    width: 140px;
    height: auto;
    float: right;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 320px;
    text-align: var(--centering);
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 110px;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: var(--general-border);
    text-align: var(--centering);
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--general-border);
    padding: 1rem;
    background-color: lightgrey;
    color: #000;
}